[submodule "assert"]
	path = libs/assert
	url = https://github.com/boostorg/assert.git
	shallow = true
[submodule "bind"]
	path = libs/bind
	url = https://github.com/boostorg/bind.git
	shallow = true
[submodule "concept_check"]
	path = libs/concept_check
	url = https://github.com/boostorg/concept_check.git
	shallow = true
[submodule "config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
	shallow = true
[submodule "container"]
	path = libs/container
	url = https://github.com/boostorg/container.git
	shallow = true
[submodule "container_hash"]
	path = libs/container_hash
	url = https://github.com/boostorg/container_hash.git
	shallow = true
[submodule "conversion"]
	path = libs/conversion
	url = https://github.com/boostorg/conversion.git
	shallow = true
[submodule "core"]
	path = libs/core
	url = https://github.com/boostorg/core.git
	shallow = true
[submodule "date_time"]
	path = libs/date_time
	url = https://github.com/boostorg/date_time.git
	shallow = true
[submodule "describe"]
	path = libs/describe
	url = https://github.com/boostorg/describe.git
	shallow = true
[submodule "detail"]
	path = libs/detail
	url = https://github.com/boostorg/detail.git
	shallow = true
[submodule "function"]
	path = libs/function
	url = https://github.com/boostorg/function.git
	shallow = true
[submodule "function_types"]
	path = libs/function_types
	url = https://github.com/boostorg/function_types.git
	shallow = true
[submodule "fusion"]
	path = libs/fusion
	url = https://github.com/boostorg/fusion.git
	shallow = true
[submodule "icl"]
	path = libs/icl
	url = https://github.com/boostorg/icl.git
	shallow = true
[submodule "integer"]
	path = libs/integer
	url = https://github.com/boostorg/integer.git
	shallow = true
[submodule "intrusive"]
	path = libs/intrusive
	url = https://github.com/boostorg/intrusive.git
	shallow = true
[submodule "io"]
	path = libs/io
	url = https://github.com/boostorg/io.git
	shallow = true
[submodule "iterator"]
	path = libs/iterator
	url = https://github.com/boostorg/iterator.git
	shallow = true
[submodule "move"]
	path = libs/move
	url = https://github.com/boostorg/move.git
	shallow = true
[submodule "mp11"]
	path = libs/mp11
	url = https://github.com/boostorg/mp11.git
	shallow = true
[submodule "mpl"]
	path = libs/mpl
	url = https://github.com/boostorg/mpl.git
	shallow = true
[submodule "optional"]
	path = libs/optional
	url = https://github.com/boostorg/optional.git
	shallow = true
[submodule "predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
	shallow = true
[submodule "preprocessor"]
	path = libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
	shallow = true
[submodule "range"]
	path = libs/range
	url = https://github.com/boostorg/range.git
	shallow = true
[submodule "rational"]
	path = libs/rational
	url = https://github.com/boostorg/rational.git
	shallow = true
[submodule "regex"]
	path = libs/regex
	url = https://github.com/boostorg/regex.git
	shallow = true
[submodule "smart_ptr"]
	path = libs/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
	shallow = true
